# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Process, "A-Net Process", org.imod.anet.AnetPlugin("start")
Plugins>A-Net, "Run A-net", org.imod.anet.AnetPlugin("run")
Plugins>A-Net, "Setup A-net", org.imod.anet.AnetPlugin("setup")
Plugins>A-Net, "About A-net", org.imod.anet.AnetPlugin("about")
